<div *ngIf="item;else infoText">
  <div class="row">
    <div class="col-lg-12 col-md-4 ">
      <img [src]="item.imagePath" [alt]="item.name" class="img-responsive" style="max-width: 100%; max-height: auto;">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-4">
      <h1>{{ item.name }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-4" appDropdown>
      <button class="btn btn-primary dropdown-toggle">Manage</button>
      <ul class="dropdown-menu">
        <li class="dropdown-item" (click)="addMultipleIngredientsToShoppingList()">To Shopping List</li>
        <li class="dropdown-item">Edit</li>
        <li class="dropdown-item">Delete</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-4">
      {{ item.description }}
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-4">
      <div class="list-group">
        <li class="list-group-item" *ngFor="let ingredient of item.ingredients">
          <h5>{{ ingredient.name}} - {{ ingredient.amount }}</h5>
        </li>
      </div>
    </div>
  </div>
</div>

<ng-template #infoText>
  <div class="d-flex justify-content-center">
    <p>Please Select A Recipe</p>
  </div>
</ng-template>
