<div class="row">
  <div class="col-12">
    <img [src]="item.imagePath" [alt]="item.name" class="img-responsive py-3">
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h1>{{ item.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-12" appDropdown>
    <button class="btn btn-primary dropdown-toggle">Manage</button>
    <ul class="dropdown-menu">
      <li class="dropdown-item">To Shopping List</li>
      <li class="dropdown-item">Edit</li>
      <li class="dropdown-item">Delete</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-12">
    {{ item.description }}
  </div>
</div>
<div class="row">
  <div class="col-12">
    Ingredients
  </div>
</div>
